.dialog-overlay{
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0, 0.3);
    @extend .flex-central;
    z-index: 999;
}

.dialog-content{
    flex-basis: 450px;
    max-height: 80vh;
    padding: 1.5rem;
    background-color: var(--bg-secondary-color);
    box-shadow: 0px 0px 5px var(--shadow-color);
    color: var(--contrast-color);
    border-radius: 15px;
    .dialog-actions{
        margin-top: 1rem;
        .btn, .btn-outline{
            &:first-child{
                margin-left: 0;
            }
        }
    }
}