.next-posts{
    text-align: center;
    .next-post-item{
        margin: 2rem 0rem;
        h3{
            color: var(--main-secondary-color);
        }
        h3, .keywords{
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;
        }
        .keywords{
            @extend .flex-central;
            flex-wrap: wrap;
            span{
                margin-right: 0.5rem;
                margin-top: 0.5rem;
                padding: 0.5rem 1.5rem;
                background-color: var(--bg-secondary-color);
                border-radius: 10px;
                box-shadow: 1px 1px 2px rgba(0,0,0, 0.1);
                &:hover{
                    color: var(--bg-main-color);
                    background-color: var(--main-secondary-color);
                    transition: 0.4s;
                }
            }
        }
    }
}