#contact{
    h2{
        margin-bottom: 15px;
    }
    form{
        display: flex;
        flex-direction: column;
        max-width: 40em;
        margin-top: 2em;
        margin-bottom: 2em;
        input, textarea{
            margin: 10px 0px;
            padding: 10px 5px;
            width: 100%;
            border: none;
            background: none;
            border-bottom: 1px solid var(--main-color);
            font-weight: bold;
            &:focus{
                outline: none;
                border-bottom: 2px solid var(--main-secondary-color);
            }
        }
        button{
            margin: 10px 0px;
        }
    }
}