#home{
    @extend .flex-central;
    flex-direction: column;
    .header{
        text-align: center;
        h2{
            margin: 10px;
        }
        width: 100%;
    }
    .search{
        margin-top: 1.2em;
        margin-bottom: 1.5em;
        @extend .flex-central;
        label{
            color: var(--main-color);
            font-size: 1.4em;
            margin: 0em 0.5em;
            cursor: pointer;
        }
        input{
            background: none;
            border: 1px solid var(--main-color);
            border-radius: 30px;
            padding: 6px 12px;
            &:focus{
                outline: none;
            }
        }
    }
    .posts{
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        width: 100%;
        .post-box{
            border: 1px solid var(--main-color);
            border-radius: 15px;
            padding: 1.5em 1.5em 6em 1.5em;
            margin: 1.5em;
            max-width: 20em;
            position: relative;
            h3,h4,p,a{
                margin: 10px;
            }
            h4{
                color: var(--main-secondary-color);
            }
            a{
                @extend .btn;
                text-decoration: none;
                position: absolute;
                bottom: 1.5em;
            }
            &:hover{
                transform: translateY(-10px);
                box-shadow: 1px 2px 3px rgba(0,0,0, 0.4);
                transition: 0.4s;
            }
        }
    }
    .pagination{
        @extend .flex-central;
        flex-wrap: wrap;
    }
}