nav {
  width: 100%;
  margin-bottom: 2vh;
}
nav .nav-content {
  margin: 0em 1.5em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav .nav-content .brand a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: var(--contrast-color);
}
nav .nav-content .brand a h1 {
  opacity: 0.9;
  margin: 5px;
}
nav .nav-content .brand a h1:hover {
  color: var(--main-secondary-color);
  text-decoration: underline;
  transition: 0.4s;
}
nav .nav-content .menu {
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 10px;
}
nav .nav-content .menu ul {
  flex-wrap: wrap;
  list-style: none;
}
nav .nav-content .menu ul li {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 6px;
}
nav .nav-content .menu ul li a, nav .nav-content .menu ul li #theme-btn {
  text-decoration: none;
  color: var(--contrast-color);
  cursor: pointer;
}
nav .nav-content .menu ul li a:hover, nav .nav-content .menu ul li #theme-btn:hover {
  color: var(--main-color);
  text-decoration: underline;
}

main {
  padding: 2vh 10%;
  flex-direction: column;
  min-height: 70vh;
}
main section {
  width: 100%;
}
main section h2 {
  font-size: 2.5em;
}
main section p {
  font-size: 1.1em;
}
main #newsletter {
  padding: 2.5em;
  margin: 4.5em auto 4.5em auto;
  border-radius: 15px;
  box-shadow: 0px 0px 5px var(--shadow-color);
  flex-direction: column;
  background-color: var(--bg-secondary-color);
}
main #newsletter h2, main #newsletter p {
  margin: 10px;
  text-align: center;
}
main #newsletter h2 {
  font-size: 2em;
  color: var(--main-secondary-color);
}
main #newsletter p {
  font-size: 1.1em;
}
main #newsletter form {
  flex-wrap: wrap;
}
main #newsletter form input {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  font-weight: bold;
  background-color: var(--bg-main-color);
  max-width: 18em;
}
main #newsletter form input:focus {
  outline: none;
}
main #newsletter .success-icon {
  font-size: 2.2em;
  color: var(--main-secondary-color);
}
main #newsletter .error-message {
  margin-top: 10px;
  color: var(--error-color);
}

footer {
  min-height: 10vh;
  text-align: center;
  padding-bottom: 1em;
}
footer h4 {
  margin: 15px;
}
footer h4 a {
  color: var(--main-secondary-color);
  text-decoration: none;
}
footer h4 a:hover {
  font-size: 14px;
  text-decoration: underline;
  transition: 0.4s;
}

#home {
  flex-direction: column;
}
#home .header {
  text-align: center;
  width: 100%;
}
#home .header h2 {
  margin: 10px;
}
#home .search {
  display: flex;
  margin-top: 1.2em;
  margin-bottom: 1.5em;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  padding: 10px 12px;
}
#home .search label {
  color: var(--main-color);
  margin: 0em 0.7em;
  cursor: pointer;
}
#home .search input {
  background: none;
  border: none;
  color: var(--contrast-color);
}
#home .search input:focus {
  outline: none;
}
#home .posts {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}
#home .posts .post-box {
  border: 1px solid var(--main-color);
  border-radius: 15px;
  padding: 1.5em 1.5em 6em 1.5em;
  margin: 1.5em;
  max-width: 20em;
  position: relative;
}
#home .posts .post-box h3, #home .posts .post-box h4, #home .posts .post-box p, #home .posts .post-box a {
  margin: 10px;
}
#home .posts .post-box h4 {
  color: var(--main-secondary-color);
}
#home .posts .post-box a {
  text-decoration: none;
  position: absolute;
  bottom: 1.5em;
}
#home .posts .post-box:hover {
  transform: translateY(-10px);
  box-shadow: 1px 2px 3px var(--shadow-color);
  transition: 0.4s;
}
#home .pagination {
  flex-wrap: wrap;
}

#about p {
  margin-top: 15px;
}

#contact h2 {
  margin-bottom: 15px;
}
#contact form {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  margin-top: 2em;
  margin-bottom: 2em;
}
#contact form input, #contact form textarea {
  margin: 10px 0px;
  padding: 10px 5px;
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px solid var(--main-color);
  font-weight: bold;
}
#contact form input:focus, #contact form textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--main-secondary-color);
}
#contact form button {
  margin: 10px 0px;
}

#post h2, #post h4 {
  margin-bottom: 20px;
}
#post h4 {
  color: var(--main-secondary-color);
}
#post p {
  margin-bottom: 15px;
}
#post .share-post {
  display: inline-flex;
  align-items: center;
}
#post .share-post h3 {
  font-size: 1em;
  color: var(--contrast-color);
  margin-right: 5px;
}
#post .share-post a {
  margin: 0px 5px;
  color: var(--contrast-color);
  font-size: 1.2em !important;
  text-decoration: none;
}
#post .share-post a:hover {
  color: var(--main-color);
  transform: translateY(-5px);
  transition: 0.3s;
}

#not-found {
  min-height: 50vh;
  flex-direction: column;
  text-align: center;
}
#not-found h1 {
  font-size: 2.2em;
}
#not-found h1, #not-found p {
  margin-bottom: 10px;
}

:root {
  --main-color: #36b367;
  --main-secondary-color: #1d7044;
  --bg-main-color: #f5f5f5;
  --bg-secondary-color: #fff;
  --contrast-color: #181821;
  --error-color: #FF4E3A;
  --shadow-color: rgba(0,0,0, 0.4);
}

.flex-central, nav .nav-content .menu ul, main, main #newsletter, main #newsletter form, #home, #home .pagination, #not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn, button, .btn-sm, .btn-bg, #home .posts .post-box a {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  color: var(--bg-secondary-color);
  background-color: var(--main-color);
  cursor: pointer;
  text-decoration: none;
}
.btn:hover, button:hover, .btn-sm:hover, .btn-bg:hover, #home .posts .post-box a:hover {
  padding: 10px 30px;
  background-color: var(--main-secondary-color);
  transition: 0.4s;
}

.btn-bg {
  font-size: 1.1em;
  padding: 12px 24px;
}
.btn-bg:hover {
  padding: 12px 36px;
}

.btn-sm {
  font-size: 0.9em;
  margin: 5px;
  padding: 5px 10px;
}
.btn-sm:hover {
  padding: 5px 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  color: var(--contrast-color);
  background: var(--bg-main-color) !important;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-secondary-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 20px;
  border: 1px solid var(--bg-secondary-color);
}

::selection {
  background-color: var(--main-color);
  color: var(--bg-main-color);
}

hr {
  border-color: none;
  border-top: 1px solid var(--main-secondary-color);
  margin: 1em 1.5em;
}

textarea {
  resize: none;
}

/*# sourceMappingURL=style.css.map */
