.row{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .col{
        display: flex;
        flex-direction: column;
        .item-box{
            height: 100%;
        }
    }
    .col-sm{
        flex-grow: 1;
    }
    .col-md{
        flex-grow: 2;
    }
    .col-lg{
        flex-grow: 3;
    }
    .col-full{
        flex-grow: 4;
        width: 100%;
    }
}