#dashboard{
    display: flex;
    align-items: stretch;
    border-radius: 20px;
    #sidebar, main{
        padding: 1.5rem;
        margin: 1.5rem;
        min-height: 100vh;
    }
    #sidebar{
        width: 280px;
        position: relative;
        border-right: 1px solid var(--main-color);
        nav{
            position: fixed;
            h1{
                margin-top: 5px;
            }
            h1, a{
                color: var(--contrast-color);
                text-decoration: none;
            }
            .brand{
                margin: 10px;
            }
            ul{
                margin: 20px 0rem;
                list-style: none;
                li{
                    width: 100%;
                    margin-top: 0.5rem;
                    padding: 0.7rem 2rem 0.7rem 0.5rem;
                    font-size: 1rem;
                    border-radius: 10px;
                    svg{
                        margin: 0rem 0.5rem;
                        color: var(--main-color);
                    }
                    &:hover{
                        svg{
                            color: var(--main-secondary-color);
                        }
                        background-color: var(--bg-secondary-color);
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    main{
        width: 100%;
    }
}
