#dashboard{
    display: flex;
    align-items: stretch;

    #sidebar{
        width: 250px;
        background-color: var(--bg-secondary-color);
        box-shadow: 0px 0px 10px var(--shadow-color);
        padding: 0rem 2rem;
        min-height: 100vh;

        svg{
            margin: 0rem 0.5rem;
            width: 1.5rem;
        }

        nav{
            position: sticky;
            top: 4rem;
            h1{
                margin-top: 5px;
                &:hover{
                    opacity: 0.8;
                    transition: 0.3s;
                }
            }
            h1, a{
                color: var(--contrast-color);
                text-decoration: none;
            }
            .brand{
                margin: 10px;
            }
            ul{
                margin: 20px 0rem;
                list-style: none;
                li{
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    margin-top: 0.5rem;
                    padding: 0.7rem 2rem 0.7rem 0.5rem;
                    font-size: 1rem;
                    border-radius: 10px;
                    svg{
                        color: var(--main-color);
                    }
                    &:hover{
                        svg{
                            color: var(--main-secondary-color);
                            transition: 0.3s;
                        }
                        background-color: var(--bg-main-color);
                        transition: 0.3s;
                    }
                }
            }
        }
    }

    main{
        width: 75vw;
        padding: 3.5rem 2rem;
        .title{
            margin-left: 2rem;
            margin-bottom: 1rem;
            font-size: 3rem;
        }
    }
}
