@media (max-width: 769px) {
    .title{
        font-size: 2.5rem !important;
        word-break: break-word;
    }
    #toogle-sidebar{
        left: 1.5rem !important;
    }
    #theme-btn{
        right: 1.5rem !important;
    }
    #dashboard{
        #sidebar{
            position: fixed;
            z-index: 1;
            nav{
                min-height: none;
            }
        }
        #toogle-sidebar{
            display: block;
        }
        #sidebar, main{
            width: 100vw;
            padding: 4.5rem 1.5rem 1.5rem 1.5rem;
        }
        main{
            z-index: 0;
        }
    }
    .invisible-on-mobile{
        display: none;
    }
}