//Imports
@import './template/layout.scss';
@import './template/responsivity.scss';
@import './pages/404.scss';

//Colors
:root{
    --main-color: #36b367;
    --main-secondary-color: #1d7044;
    --bg-main-color: #f5f5f5;
    --bg-secondary-color: #fff;
    --contrast-color: #181821;
    --error-color: #FF4E3A;
    --shadow-color: rgba(0,0,0, 0.4);
}

//Extends
.flex-central{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    color: var(--bg-secondary-color);
    background-color: var(--main-color);
    cursor: pointer;
    text-decoration: none;
    &:hover{
        padding: 10px 30px;
        background-color: var(--main-secondary-color);
        transition: 0.4s;
    }
}

.btn-bg{
    @extend .btn;
    font-size: 1.1em;
    padding: 12px 24px;
    &:hover{
        padding: 12px 36px;
    }
}

.btn-sm{
    @extend .btn;
    font-size: 0.9em;
    margin: 5px;
    padding: 5px 10px;
    &:hover{
        padding: 5px 15px;
    }
}

//General Customizing
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: monospace;
    color: var(--contrast-color);
    background: var(--bg-main-color) !important;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: 12px;               
}
body::-webkit-scrollbar-track {
    background: var(--bg-secondary-color);        
}  
body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);    
    border-radius: 20px;      
    border: 1px solid var(--bg-secondary-color); 
}

::selection{
    background-color: var(--main-color);
    color: var(--bg-main-color);
}

hr{
    border-color: none;
    border-top: 1px solid var(--main-secondary-color);
    margin: 1rem;
}

button{
    @extend .btn;
}

textarea{
    resize: none;
}

input, textarea{
    color: var(--contrast-color);
    &::placeholder{
        color: var(--contrast-color);
        opacity: 0.8;
    }
}