//Imports
@import './template/layout.scss';
@import './template/grid.scss';
@import './template/responsivity.scss';
@import './template/general-itens.scss';
@import './pages/login.scss';
@import './pages/404.scss';
@import './components/buttons.scss';
@import './components/number-data-resume.scss';
@import './components/external-actions.scss';
@import './components/next-posts.scss';
@import './components/table.scss';
@import './components/dialog.scss';

//Colors
:root{
    --main-color: #36b367;
    --main-secondary-color: #1d7044;
    --bg-main-color: #f5f5f5;
    --bg-secondary-color: #fff;
    --contrast-color: #181821;
    --error-color: #FF4E3A;
    --shadow-color: rgba(0,0,0, 0.4);
}

//Extends
.flex-central{
    display: flex;
    align-items: center;
    justify-content: center;
}
